body{
    margin:0;
    font-family: "Times New Roman", Times, serif;
    background:#02091b;
}

/* CENTER PAGE */
.page{
    padding: 155px;
    display:flex;
    justify-content:center;
    align-items:center;
    top: 235px;
    right: 210px;
}

/* CARD */
.card{
    width:600px;
    padding:30px;
    border-radius:20px;
    background:linear-gradient(145deg,#0e0e24,#1e1e44);
    box-shadow:
        0 0 120px rgba(48, 49, 79, 0.226);
    position:relative;
}

/* INFO BUTTON */
.info-btn{
    position:absolute;
    right:20px;
    top:35px;
    width:25px;
    height:25px;
    border-radius:50%;
    border:1px solid #aaa;
    color:#aaa;
    text-align:center;
    line-height:25px;
    text-decoration:none;
    font-size:14px;
    transition: 1s;
}

.info-btn:hover{
    background-color:#555;
    width: 30px;
}

/* MUSIC CARD LAYOUT */
.music-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-image: url(bgbluee.gif);
    border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* LEFT SIDE */
.spotifyy{
    display:flex;
    flex-direction:column;
}

.spotify{
    position:relative;
    right: 10px;
    top: 0px;
    width:35px;
    margin-bottom:10px;
}

.text h2{
    color:white;
    font-size:22px;
    margin:0;
}

.text p{
    color:#ccc;
    font-size:20px;
    margin:3px 0 15px 0;
}

/* PROGRESS BAR */
.progress{
    display:flex;
    align-items:center;
    gap:10px;
}

.time{
    color:#aaa;
    font-size:12px;
}

.bar{
    width:220px;
    height:4px;
    background:#555;
    border-radius:5px;
    overflow:hidden;
}

.progress-fill{
    width:25%;
    height:100%;
    background:white;
}

/* RIGHT SIDE TEXT */
.right{
    margin-top: 20px;
    text-align:right;
}

.credit{
    font-style:italic;
    color:white;
    font-size: 18px;
    margin:0;
}

.handle{
    color:white;
    font-size: 20px;
    margin:0;
}

/* FOOTER */
.footer{
    text-align:center;
    color:#777;
    margin-top:15px;
    font-size:12px;
}

/* INFO SECTION */
#disikes-section{
    padding:200px;
    padding-top: 0x;
    background:#02091b;
    color:white;
    position: absolute;
    top: 340px;
    right: 210px;
    
}

/* CENTER PAGE */
.page3{
    height:0vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card3{
    width:600px;
    height: 220px;
    padding:30px;
    border-radius:20px;
    background:linear-gradient(145deg,#0e0e24,#1e1e44);
    box-shadow:
        0 0 10px rgba(48, 49, 79, 0.226);
    position:relative;
}

.home{
    position:absolute;
    right:20px;
    top:15px;
    width:25px;
    height:25px;
    border-radius:50%;
    border:1px solid #aaa;
    color:#aaa;
    text-align:center;
    line-height:25px;
    text-decoration:none;
    font-size:14px;
    transition: 2s;
}

.home:hover{
    background-color:#555;
    width: 40px;
}

.likes{
    position:relative;
    top:-28px;
}

.divider1{
    position:absolute;
    top: 68px;
    width:600px;
    height:2px;
    background:#555;
    border-radius:5px;
    overflow:visible;
}

.divider2{
    position:absolute;
    top: 0px;
    width:600px;
    height:100%;
    background:rgba(255, 255, 255, 0.094);
}

.dislikes{
    position:relative;
    top:-28px;
}

.divider3{
    position:absolute;
    top: 120px;
    width:600px;
    height:2px;
    background:#555;
    border-radius:5px;
    overflow:visible;
}

.divider4{
    position:absolute;
    top: 0px;
    width:600px;
    height:100%;
    background:rgba(255, 255, 255, 0.094);
}

.loveloves{
    position:relative;
    top:-28px;
}

.gallery{
    position:relative;
    top: -28px;
    left: 75px;
}

.gallery2{
    position:relative;
    top: -92px;
    left: 0px;
}

.gallery3{
    position:relative;
    top: -156px;
    left: 155px;
}

.gallery4{
    position:relative;
    top: -220px;
    left: 235px;
}

.gallery5{
    position:relative;
    top: -284px;
    left: 315px;
}

.gallery6{
    position:relative;
    top: -348px;
    left: 395px;
}

.gallery7{
    position:relative;
    top: -412px;
    left: 475px;
}

.gallery8{
    position:relative;
    top: -476px;
    left: 555px;
}

p {
    color:aliceblue
}